{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gestion des Chatons</h1>

    {% for flash_message in app.session.flashbag.get("notice") %}
        <div class="alert alert-success">
            {{ flash_message }}
        </div>
    {% endfor %}

    <table class="table">
        <tr>
            <th>Nom</th>
            <th>Maison</th>
            <th>Date de naissance</th>
            <th>Race</th>
            <th>Photo</th>
            <th></th>
        </tr>
        {% for chaton in chatons %}
            <tr>
                <td>{{ chaton.nom }}</td>
                <td>{{ chaton.maison.nom }}</td>
                <td>{{ chaton.dateNaissance|date("d/m/Y") }}</td>
                <td>{{ chaton.race }}</td>
                <td>
                    <a href="{{ chaton.urlPhoto }}"  
                       data-fancybox="gallery" 
                       class="glyphicon glyphicon-eye-open btn btn-success btn-sm"></a>
                </td>
                <td>
                    <a href="{{ path("modifierChaton", {"id": chaton.id}) }}" class="btn btn-sm btn-primary glyphicon glyphicon-pencil"></a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <p><a href="{{ path("ajouterChaton") }}" class="btn btn-primary">
            Ajouter un chaton</a></p>
        {% endblock %}
